<footer class="page site-nav-push footer-site">
  <div class="container">
    <div class="row pb-4 newsletter">
      <div class="col-12 col-lg-5 col-xl-6 text-center px-xl-5 pb-5">
        <h3>
          <strong><em>Join the <strike>club</strike> community</em></strong>
        </h3>
        <p>Subscribe to our newsletter to receive news and updates</p>

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="https://yellowco.us3.list-manage.com/subscribe/post?u=3f8e45f74e0653e404965e2ef&amp;id=7cb1ced4ff" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group mb-2">
              	<label for="mce-EMAIL" class="sr-only">Email Address</label>
              	<input type="email" value="" name="EMAIL" class="required email form-control mb-0 mr-sm-2 mb-sm-0" id="mce-EMAIL" placeholder="Email address">
              </div>
              	<div id="mce-responses" class="clear">
              		<div class="response" id="mce-error-response" style="display:none"></div>
              		<div class="response" id="mce-success-response" style="display:none"></div>
              	</div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_3f8e45f74e0653e404965e2ef_7cb1ced4ff" tabindex="-1" value="">
                </div>
                <div class="clear">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary">
                </div>
              </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
      </div>

      <div class="col-12 col-lg-7 col-xl-6">
        <div class="row">
          <div class="col-12 col-sm-6 text-center text-sm-left">
            {% include list-social.html style="list-social-buttons" %}
          </div>
          <div class="col-12 col-sm-6 text-center text-sm-right">
            <h3 class="email-yellow my-0">
              <strong><em>
                <a href="mailto:heygirl@yellowco.co">heygirl@yellowco.co</a>
              </em></strong>
            </h3>
          </div>
        </div>
        <hr>
        <div class="row text-uppercase">
          <div class="col">
            <ul class="list-unstyled">
              <li class="footer-link"><a href="/membership">Membership</a></li>
              <li class="footer-link"><a href="/conference">Conference</a></li>
              <li class="footer-link"><a href="/partners">Partnerships</a></li>
            </ul>
          </div>
          <div class="col">
            <ul class="list-unstyled">
              <li class="footer-link"><a href="/blog">Blog</a></li>
              <li class="footer-link"><a href="/about">About</a></li>
              <li class="footer-link"><a href="https://yellowco.myshopify.com/"></a>Shop</li>
            </ul>
          </div>
          <div class="col">
            <ul class="list-unstyled">
              <li class="footer-link"><a href="https://members.yellowco.co/">Member Login</a></li>
              <li class="footer-link"><a href="https://fldwrk.help/yellow-co">Help Center</a></li>
              <li class="footer-link"><a href="mailto:avlz0z5u@inbound.intercom-mail.com" id="intercom-launcher">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12 pb-3">
        &copy; Copyright 2015-{{ site.time | date: '%Y' }} {{ site.title }}&trade; | All Rights Reserved
      </div>
    </div>
  </div>
</footer>
