{
  plugins: ["import", "jsx-a11y", "react", "flowtype"],
  parser: "babel-eslint",
  extends: ["eslint:recommended", "plugin:react/recommended", "plugin:jsx-a11y/recommended", "plugin:flowtype/recommended"],
  env: {
    browser: true,
    commonjs: true,
    es6: true,
    jest: true,
    node: true,
  },
  parserOptions: {
    ecmaVersion: 6,
    ecmaFeatures: {
      jsx: true
    }
  },
  rules: {
    strict: 0
  }
}
