.card-deck-6 {
  border: 0;
  .card-block {
    padding-left: 0;
    .card-title {
      font-size: 1rem;
      border-bottom: none;
      text-transform: none;
      letter-spacing: 1px;
    }
  }
}
