.footer-site {
  background-color: $gray-lighter;
  padding-top: 3rem;
  padding-bottom: 1rem;
  .newsletter {
    h3 {
      font-size: 2rem;
    }
    .form-control {
      border-color: $brand-black;
      padding-top: .7rem;
      padding-bottom: .70rem;
    }
    input {
      width: 70%;
    }
    @include media-breakpoint-down(lg) {
      input {
        width: 60%;
      }
    }
    @include media-breakpoint-down(xs) {
      input {
        width: 65%;
        margin-bottom: 0;
      }
    }
  }
  h3.email-yellow {
    font-size: 1.5rem;
    letter-spacing: 1px;
    position: relative;
    top: 12px;
    &:hover {
      text-decoration: none;
    }
  }
  hr {
    border-top: 1px solid $brand-black;
  }
}
