<div class="container my-3 my-md-5">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-5 px-0">
      <img src="/assets/images/dec-17-theme-conscious.jpg" class="img-fluid w-100"/>
    </div>
    <div class="col-12 col-md-6 col-lg-7 pl-3 pl-lg-5">
      <h2 class="section-title" class="mt-0 pt-0">current focus</h2>
      <div class="row">
        <div class="col my-auto">
          <p class="lead">
            <strong>Conscious living: the powerful potential we have to create the world we dream of</strong>
          </p>
          <p class="lead">During this holiday season, as consumers, we're making a lot of decisions. We want to help you make the best decisions possible, and work together as a community towards making the world a better place through our purchases.</p>
          <p><a href="/blog/series/conscious">Read more about this month’s focus →</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
