<div class="container my-3 my-md-5">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-5 px-0">
      <img src="/assets/images/current-focus-tenderness.jpg" class="img-fluid w-100"/>
    </div>
    <div class="col-12 col-md-6 col-lg-7 pl-3 pl-lg-5">
      <h2 class="section-title" class="mt-0 pt-0">current focus</h2>
      <div class="row">
        <div class="col my-auto">
          <p class="lead">
            <strong>Tenderness: defined as "easily moved to sympathy or compassion; kind", and this is how we want to treat ourselves.</strong>
          </p>
          <p>This is the time of year when everyone is setting resolutions, goals and dreaming big, we want to support you in that while reminding you to treat yourself with tenderness. Self-forgiveness is the key to discipline, and when you can give yourself grace, love and tenderness, you are much more likely to continue moving forward with your goals instead of giving up if you don't at first succeed.</p>
          <p><a href="/blog/series/tenderness">Read more about this month’s focus →</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
