<footer class="page site-nav-push footer-site">
  <div class="container">
    <div class="row pb-4 newsletter">
      <div class="col-12 col-lg-5 col-xl-6 text-center px-xl-5 pb-5">
        <h3>
          <strong><em>Let your inbox bloom</em></strong>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy</p>
        <form class="form-inline justify-content-center">
          <label class="sr-only" for="inlineFormInput">Email address</label>
          <input type="text" class="form-control mb-0 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Jane Doe">
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
      </div>
      <div class="col-12 col-lg-7 col-xl-6">
        <div class="row">
          <div class="col-12 col-md-6 text-center text-sm-left">
            <a href="#"><i class="fa fa-fw fa-2x fa-instagram" aria-hidden="true"></i></a>
            <i class="fa fa-fw fa-2x fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-fw fa-2x fa-twitter-square" aria-hidden="true"></i>
            <i class="fa fa-fw fa-2x fa-pinterest-square" aria-hidden="true"></i>
            <i class="fa fa-fw fa-2x fa-snapchat-square" aria-hidden="true"></i>
          </div>
          <div class="col-12 col-md-6 text-center text-sm-right">
            <h3 class="email-yellow mt-3 mt-sm-0">
              <strong><em>
                <a href="mailto:heygirl@yellowco.co">heygirl@yellowco.co</a>
              </em></strong>
            </h3>
          </div>
        </div>
        <hr>
        <div class="row text-uppercase">
          <div class="col">
            <ul class="list-unstyled">
              <li><a href="/membership">Membership</a></li>
              <li><a href="/conference">Conference</a></li>
              <li><a href="/partnerships">Partnerships</a></li>
            </ul>
          </div>
          <div class="col">
            <ul class="list-unstyled">
              <li>Blog</li>
              <li>About</li>
              <li>Shop</li>
            </ul>
          </div>
          <div class="col">
            <ul class="list-unstyled">
              <li>Member Login</li>
              <li>Help Center</li>
              <li>Contact Us</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12 pb-3">
        &copy; Copyright 2015-{{ site.time | date: '%Y' }} {{ site.title }}&trade; | All Rights Reserved
      </div>
    </div>
  </div>
</footer>
