<footer class="page site-nav-push footer-site">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-3 py-3">
        <h6 class="text-uppercase">Members</h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="https://members.yellowco.co" class="nav-link">Member Login</a>
          </li>
          <li class="nav-item">
            <a href="https://fldwrk.help/yellow-co" class="nav-link">Help Center</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 py-3">
        <h6 class="text-uppercase">More Goodness</h6>
        <div class="row">
          <div class="col-sm-6">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a href="/events" class="nav-link">Events</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a href="/faq" class="nav-link">FAQ</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 pb-3">
        &copy; Copyright 2015-{{ site.time | date: '%Y' }} {{ site.title }}&trade; | All Rights Reserved
      </div>
    </div>
  </div>
</footer>
