<ul class="list-social {{ include.style }}">
  <li class="list-social-item">
    <a href="https://www.instagram.com/yellowco.co/" class="list-social-link" target="_blank">
      {% include icon.html name="social-instagram" classes="icon icon-xs list-social-icon" %}
    </a>
  </li>
  <li class="list-social-item">
    <a href="https://www.facebook.com/yellowconf/" class="list-social-link" target="_blank">
      {% include icon.html name="social-facebook" classes="icon icon-xs list-social-icon" %}
    </a>
  </li>
  <li class="list-social-item">
    <a href="https://twitter.com/yellowconf" class="list-social-link" target="_blank">
      {% include icon.html name="social-twitter" classes="icon icon-xs list-social-icon" %}
    </a>
  </li>
  <li class="list-social-item">
    <a href="https://www.pinterest.com/yellowconf/" class="list-social-link" target="_blank">
      {% include icon.html name="social-pinterest" classes="icon icon-xs list-social-icon" %}
    </a>
  </li>
</ul>
