<div class="subfooter text-center text-uppercase mt-3">
  <div class="container my-3">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3 py-md-3">
        <a href="/retreats/bali">
          <h6 class="py-2">Experiences</h6>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 py-md-3">
        <a href="/membership">
          <h6 class="py-2">Membership</h6>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 py-md-3">
        <a href="/conference">
          <h6 class="py-2">Conference</h6>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 py-md-3">
        <a href="/blog">
          <h6 class="py-2">Blog</h6>
        </a>
      </div>
    </div>
  </div>
</div>
