$enable-transitions: true;
// COLORS
$brand-primary: #f4ef11;
$yellow: $brand-primary;
$brand-black: #231f20;
$gray-dark: #292b2c;
$gray: #464a4c;
$gray-light: #636c72;
$gray-lighter: #eceeef;
$gray-lightest: #f7f7f9;
// BUTTONS
$btn-primary-bg: $brand-black;
$btn-primary-border: $btn-primary-bg;
$btn-secondary-color: white;
$btn-warning-color: $brand-black;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$border-width: 4px;
// TYPOGRAPHY
$font-family-serif: "Playfair Display";
$font-family-sans-serif: "Open Sans";
$font-family-subheadings: 'League Spartan', sans-serif;
$headings-font-family: $font-family-serif;
$headings-lg-font-family: $headings-font-family;
$headings-sm-font-family: $font-family-subheadings;
$line-height-base: 1.85;
$font-size-h1: 3rem;
$font-size-h2: 2.75rem;
$font-size-h3: 2.25rem;
$font-size-h4: 1.7rem;
$font-size-h5: 1.5rem;
$font-size-h6: 1.2rem;
$display1-size: $font-size-h1;
$display2-size: $font-size-h2;
$display3-size: $font-size-h3;
$display4-size: $font-size-h4;
// LINKS
$btn-font-family: $font-family-subheadings;
$link-color: $brand-black;

@import 'bootstrap/scss/bootstrap';
$fa-font-path: "/assets/fonts";
@import 'font-awesome/scss/font-awesome';
@import 'css/fotorama';
@import 'buttons';
@import 'fixes';
@import 'fonts';
@import 'icons';
@import 'links';
@import 'typography';
@import 'utils';