#content {
  a {
    cursor: pointer;
    // &.active, &:hover {
    //   text-decoration: none;
    // }
    // &:hover {
    //   border-bottom: lighten($brand-primary, 10%);
    // }
  }
  .no-underline {
    border-bottom: none;
    text-decoration: none;
  }
  p a {
    border-bottom: 2px solid $brand-primary;
  }
}

[data-href],
[href],
[type="submit"] {
  cursor: pointer;
}
