#accordion {
  .card {
    border: none;
  }
  .card-header {
    background-color: transparent;
    font-size: 1.25rem;
    border-bottom: 1px solid $brand-primary;
    a {
      border-bottom: none;
      line-height: 1.4;
      display: block;
    }
    a:active, a:hover, a:active:hover, a:visited, a:focus {
      text-decoration: none;
    }
    .accordion-toggle:after {
      font-family: 'FontAwesome';
      content: '';
      float: right;
    }
    .accordion-toggle.collapsed:after {
      font-family: 'FontAwesome';
      content: '';
      float: right;
    }
  }
  .card-block {
    border-bottom: 1px solid $brand-primary;
  }
}
