.footer-site {
  background-color: $gray-lighter;
  padding-top: 3rem;
  padding-bottom: 1rem;
  .newsletter {
    .form-control {
      border-color: $brand-black;
    }
    input {
      width: 70%;
    }
  }
  .email-yellow {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  hr {
    border-top: 1px solid $brand-black;
  }
}
