.nav-site {
  margin-top: 0.875rem;
  margin-bottom: 0.25rem;
  padding: 0.5rem 0;
  font-family: $font-family-subheadings;
  text-transform: uppercase;
  letter-spacing: 2px;
  @include media-breakpoint-down(sm) {
    padding-left: 0;
  }

  > .navbar-brand img {
    position: relative;
    @include media-breakpoint-only(xs) {
      width: 170px;
      height: 46px;
    }
    @include media-breakpoint-only(sm) {
      width: 170px;
      height: 50px;
    }
    @include media-breakpoint-only(md) {
      width: 160px;
      height: 36px;
    }
    @include media-breakpoint-only(lg) {
      width: 185px;
      height: 45px;
    }
    @include media-breakpoint-only(xl) {
      width: 208px;
      height: 50px;
    }
  }

  > .navbar-nav {
    position: relative;
    @include media-breakpoint-only(xs) {
      display: none;
    }
    @include media-breakpoint-only(sm) {
      display: none;
    }
  }

  > .navbar-nav .nav-item+.nav-item {
    margin-left: 1rem;
    @include media-breakpoint-only(md) {
      margin-left: 0.2rem;
    }
    @include media-breakpoint-only(lg) {
      margin-left: 1rem;
    }
    @include media-breakpoint-only(xl) {
      margin-left: 1.75rem;
    }
  }
  > .navbar-nav .nav-item:last-child {
      font-family: "Risoless";
      text-transform: lowercase;
      .nav-link {
        font-size: 1.7rem;
        line-height: .3;
        letter-spacing: .1;
      }
    }

  > .navbar-nav .nav-link {
    color: $gray-dark;
    @include media-breakpoint-only(md) {
      font-size: 0.7rem;
    }
    @include media-breakpoint-only(lg) {
      font-size: 0.85rem;
    }
    @include media-breakpoint-only(xl) {
      font-size: 0.85rem;
    }
  }

  > .navbar-nav .active {
    border-bottom: 3px solid $brand-black;
    &:last-child { border-bottom: none; }
  }

  > .navbar-toggler {
    padding: 0;
    border: 0 !important;
    outline: 0 !important;
    right: 0 !important;
    cursor: pointer;

    &:active {
      color: $brand-black;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }
}

.nav-site-social .list-social {
  padding: 1.75rem 0.5rem 0.2rem;
  margin-top: -1rem;
  margin-right: 0;

  > .list-social-item {
    margin-bottom: 0;
    padding-right: 5px;

    .list-social-link {
      [fill='#000'] {
        fill: darken($gray-light, 10%);
      }

      &:hover [fill='#000'] {
        fill: $brand-primary;
      }
    }
  }
}

.site-nav-push {
  position: relative;
}
