.subfooter {
  background-color: $yellow;
  color: $brand-black;
  a {
    text-decoration: none;
  }
  h6 {
    background-color: $yellow;
    opacity: 1;
  }
  h6:hover {
    opacity: .75;
    background-color: $white;
  }
}
