---
layout: site
title: Membership
nav:
  id: membership
  site:
    highlight: membership
banners:
- link: "/membership"
  image: "/assets/images/Membership-Header-text.jpg"
sm-banners:
- link: "/membership"
  image: "/assets/images/Membership-Mobile.jpg"
details:
- title: crave direction and purpose?
  text: "You’re struggling to find the larger purpose in what you do. You move from client to client or project to project with no direction or clarity on how to make the impact you desire."
- title: know you're capable of more?
  text: "You know you have potential that’s waiting to be unleashed. You know that you’re capable of making big waves of good in the world, but you don’t know where or how to start."
- title: search to find your "people"?
  text: "You move from network to network but never feel like you’ve found your place. You crave a genuine group of women who care about building more than just a career."
faqs:
- question: Do you ship internationally?
  answer: We offer free shipping within the US., but international shipping prices vary depending on your location. Feel free to chat us below for more info!
- question: Can I cancel my membership?
  answer: Our membership is month to month and you can cancel anytime, although we’d be sad to see you go 🙂
- question: What comes with membership?
  answer: Membership value is delivered in 3 ways. Physically, with a monthly packet mailed to your door. Digitally, with access to our online hub of tools, resources and digital chats and webcasts. Lastly, in-person. We host monthly in-person gatherings with our chapters across the US. If you’re not in a location with an in-person chapter, we have digital chapters that meet on Zoom once a month!
- question: How much is shipping?
  answer: It’s free if you’re within the US! If you’re international, shipping prices vary depending on your location.
- question: Where are your chapters and how do the gatherings work?
  answer: "Currently we have chapters in West LA, Downtown LA, The Valley LA, Orange County, San Diego, Bay Area, New York City, Cincinnati, Austin, Chicago, Denver and Tulsa.
  The gatherings are centered around our focus for the month, but each chapter throws in their own flare! The goal is for you to receive your periodical, go through the content and the questions, then come together with your group and talk through the focus for the that month and what you thought of the periodical. Every gathering ends with a 'helping circle' where each woman has an ask, and each woman commits to helping that person for that month. We always leave feeling inspired, having things to think about and having new goals to implement into our lives. They’re pretty awesome if we do say so ourselves."
---

<!-- BANNER -->
<div class="mb-2 mb-lg-5">
  <div class="fotorama page-banner hidden-sm-down pt-3" data-width="100%" data-max-width="100%" data-loop="true" data-autoplay="6000" data-swipe="true">
    {% for banner in page.banners %}
      <div data-img="{{ banner.image }}" class="link" data-rjs="2">
        <a href="{{ banner.link }}" class="_no-underline"></a>
      </div>
    {% endfor %}
  </div>
  <div class="fotorama hidden-md-up pt-3" data-width="100%" data-max-width="100%" data-loop="true" data-autoplay="6000" data-swipe="true">
    {% for sm-banner in page.sm-banners %}
      <div data-img="{{ sm-banner.image }}" class="link" data-rjs="2">
        <a href="{{ sm-banner.link }}" class="_no-underline"></a>
      </div>
    {% endfor %}
  </div>
</div>

<!-- BENEFITS -->
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2 class="mb-5">Do You…</h2>
      <div class="row mb-3">
        {% for detail in page.details %}
          <div class="col-12 col-sm-4 px-4">
            {% if details.icon %}
              {% include icon.html name=detail.icon classes="icon-xxl" %}
            {% endif %}
            <h6 class="mt-2">{{ detail.title }}</h6>
            <p>
              {{ detail.text }}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row py-3">
    <div class="col">
      <h3 class="text-center"><em>You're in the right place</em></h3>
    </div>
  </div>
  <div class="btn-rule">
    <div class="row justify-content-center">
      <div class="col col-sm-6 col-md-6 col-lg-4">
        <form action="https://members.yellowco.co/">
          <button type="submit" class="btn btn-primary btn-lg btn-block d-inline-block"/>Join Now</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- THEME -->
<div class="bg-faded my-sm-3 my-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mb-2">
        <img src="/assets/images/our-ownership.jpg" class="img-fluid" alt="inside Yellow Membership"/>
      </div>
      <div class="col-12 col-md-6 my-auto">
        <h3>Take 2018 by storm with our 2018 theme: Our Ownership</h3>
        <p>It's no secret millennials aren't owning items like cars, houses and music like previous generations. Although we are less inclined to own when it comes to material possessions, what if we were known as a generation who knows how to own WHO THEY ARE? Owning the stories, dreams, visions, passions and abilities we have. Owning the problems of the world instead of turning a blind eye. Owning the fact that we're in this together as global citizens.</p>
        <p><strong>This is our focus for 2018: OUR OWNERSHIP</strong><br />Each month throughout 2018 we will dive into a different focus of ownership, all helping you to take ownership of your life, who you were meant to be and your personal impact on the world.</p>
        <a href="https://members.yellowco.co/" class="btn btn-primary">Join now</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>Make 2018 the year you take <em>ownership</em> of your life</h3>
      </div>
    </div>
  </div>
</div>

<!-- MEMBERSHIP VALUES -->
<div class="container py-3">
  <div class="row py-3">
    <div class="col-12 col-sm-5 col-lg-4">
      <img src="/assets/images/membership-digital-resources.jpg" class="img-fluid rounded-circle mb-2" data-rjs="2"/>
    </div>
    <div class="col-12 col-sm-7 col-lg-6 my-auto">
      <h5 class="text-uppercase">Exclusive Access to Our Digital Member Hub</h5>
      <p><em>Consider it your virtual creative lady library you can access from anywhere:</em></p>
      <ul>
        <li>Video interviews with female entreprenuers</li>
        <li>Past Yellow Conference speaker video recordings</li>
        <li>Workbook downloads aimed at helping you take charge of your life and move forward with impact</li>
        <li>Various printable downloads &amp; other goodies</li>
        <li>Monthly custom playlist for Yellow Collective members curated by Jessica Blackstock</li>
      </ul>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-12 col-sm-5 col-lg-4 col-xl-4 flex-last">
      <img src="/assets/images/membership-gatherings.jpg" class="img-fluid rounded-circle mb-2" data-rjs="2"/>
    </div>
    <div class="col-12 col-sm-7 col-lg-7 offset-lg-1 col-xl-6 offset-xl-2 my-auto">
      <h5 class="text-uppercase">Monthly Gatherings</h5>
      <p><em>The best part of the membership are the women who make it :)</em></p>
      <ul>
        <li>Connect with other creative, entreprenurial women who are working at building a life, not just a career.</li>
        <li>If you're local to one of our 12 national chapters, attend an in-person event. If you're not local, attend our digital event!</li>
        <li>Private Facebook group & weekly Slack chats where we connect on the focus for that month.</li>
        <li>Learn from peer to peer mentoring, make new friends and change the world together!</li>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-12 col-sm-5 col-lg-4">
      <img src="/assets/images/membership-packet.jpg" class="img-fluid rounded-circle mb-2" data-rjs="2"/>
    </div>
    <div class="col-12 col-sm-7 col-lg-6 my-auto">
      <h5 class="text-uppercase">Monthly "Empowerment Packet" Mailed to Your Door</h5>
      <p><em>Every month your packet includes:</em></p>
      <ul>
        <li>A periodical filled with interactive content surrounding our theme for the month. Every issue will lead you towards making powerful changes in your life.</li>
        <li>A challenge designed to help you take what you've learned and bring it to life.</li>
        <li>Various discounts & vouchers for products we love!</li>
      </ul>
      </ul>
    </div>
  </div>

  <!-- JOIN TODAY -->
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-sm-7 col-md-5 col-lg-4">
      <a href="https://members.yellowco.co/" class="no-underline d-block mx-2">
        <div class="card card-price text-center mx-xs-1">
          <div class="card-block">
            <h6 class="card-title text-uppercase">Join now!</h6>
            <p class="card-text">
              <span class="price">33</span>/mo
            </p>
          </div>
        </div>
      </a>
      <p class="text-center">Questions? <a href="https://fldwrk.help/yellow-co">Read our FAQs</a></p>
    </div>
    <div class="col-12 col-md-7 col-lg-6 offset-lg-1">
      <ul class="list-checkmark">
        <li>Free shipping in the US</li>
        <li>Cancel anytime, hassle free</li>
        <li>Exclusive ticket prices for annual conference and workshops</li>
        <li>Discounts to partnering do-good resources and products</li>
      </ul>
    </div>
  </div>
</div>

<!-- CURRENT THEME SECTION -->
<!-- {% include current-theme.html %} -->

<!-- IMPACT FEATURE POST -->
<div class="row mt-md-5">
  <div class="col-12">
    <img src="/assets/images/membership-impact.jpg" class="img-fluid w-100" data-rjs="2" />
    <div class="container">
      <div class="row intro-overlay justify-content-center">
        <div class="intro-content col-11 col-sm-11 col-lg-8 text-center py-4 px-3">
          <h6>Your membership is making an impact</h6>
          <p>Your membership helps employ at-risk youth, empower women globally, and supports other initiatives taking place across the world.</p>
          {% assign featuredImpact = site.posts | where:'impact-feature', true %}
          {% for post in featuredImpact %}
            <a href="{{ post.url }}" class="btn btn-primary">View Our Impact</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FAQ -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-9">
      <h2 class="text-center mb-3">Membership FAQ</h2>
      <div class="card-accordion" role="tablist" aria-multiselectable="true">
        {% for faq in page.faqs %}
          <div class="card">
            <div class="card-header" role="tab" id="heading{% increment faq-heading %}">
              <p class="mb-0">
                <a data-toggle="collapse" href="#collapse{% increment collapse-link %}" aria-expanded="false" aria-controls="collapse{% increment collapse-control %}" class="accordion-toggle collapsed">
                  {{ faq.question }}
                </a>
              </p>
            </div>
            <div id="collapse{% increment faq-collapse %}" class="collapse" role="tabpanel" aria-labelledby="heading{% increment faq-answer %}">
              <div class="card-block">
                {{ faq.answer }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a href="https://fldwrk.help/yellow-co" class="btn btn-sm btn-primary mt-4">More FAQs</a>
    </div>
  </div>
</div>

<div class="container py-2 pt-md-4">
  {% include instagram.html %}
</div>
