.archive-cards {
  .card-gutter {
    width: 2%;
  }
  .card {
    width: 32%;
    margin-bottom: 1rem;
    float: left;
  }
  @include media-breakpoint-only(md) {
    .card {
      width: 49%;
    }
  }
  @include media-breakpoint-down(sm) {
    .card-gutter {
      display: none;
    }
    .card {
      width: 100%;
    }
  }
}
