.home {
  p.lead {
    font-size: 2.75rem;
    line-height: 1.6;
  }
  @include media-breakpoint-down(sm) {
    p.lead {
      font-size: 2.25rem;
      line-height: 1.5;
    }

    .newsletter {
      .form-control {
        margin-bottom: 1rem;
      }
    }
  }

  .card-deck-blog .card .card-category {
    margin-bottom: -0.9rem;
  }
}
