.home {
  p.lead {
    font-size: 2.75rem;
    line-height: 1.6;
  }
  @include media-breakpoint-down(sm) {
    p.lead {
      font-size: 2.25rem;
      line-height: 1.3;
    }

    .newsletter {
      .form-control {
        margin-bottom: 1rem;
      }
    }
  }

  .card-deck-blog .card .card-category {
    margin-bottom: -0.9rem;
  }

  .newsletter {
    .form-control {
      width: 300px;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      border-color: $brand-black;
    }
  }
}
