a.btn,
button.btn {
  font-family: $btn-font-family, sans-serif;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.8rem 0.85rem 0.8rem;
  color: $white;
  text-shadow: none !important;
  border-bottom: none;
}
a.btn.btn-primary,
button.btn.btn-primary {
  border-bottom-color: $brand-black;
}
a.btn.btn-outline-primary,
button.btn.btn-outline-primary {
  border-bottom: 4px solid $brand-black;
  color: $brand-black;
  &:hover {
    border-bottom: 4px solid $brand-black;
    color: $white;
  }
}
.btn-rule {
  border-top: 1px solid $brand-black;
  margin-top: 2.75rem;
  text-align: center;
  form {
    background: $white;
    padding: 0 1rem;
    transform: translateY(-62%);
  }
}
