#content {
  a {
    cursor: pointer;

    &.active {
      text-decoration: none;
    }
  }
  .no-underline {
    border-bottom: none;
    text-decoration: none;
  }
  p a {
        border-bottom: 2px solid $brand-primary;
  }
}

[data-href],
[href],
[type="submit"] {
  cursor: pointer;
}
