#content {
  a {
    cursor: pointer;
    border-bottom: 2px solid $brand-primary;
    display: inline-block;
    font-weight: 500;
    line-height: 1.1;

    &.active {
      text-decoration: none;
    }
  }
  .no-underline {
    border-bottom: none;
    text-decoration: none;
  }
}

[data-href],
[href],
[type="submit"] {
  cursor: pointer;
}
