---
layout: page
---

<div class="row justify-content-center">
  <section class="post col-12 col-md-10 col-lg-8">
    <header class="text-center">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-date">
        <a href="/author/{{ page.author | slugify }}" class="no-underline">{{ page.author }}</a>
        &nbsp;|&nbsp;
        {{ page.date | date:"%B %e, %Y" }}
        &nbsp;|&nbsp;
        {% if page.categories %}
          <a href="/blog/category/{{ page.categories | first | slugify }}" class="no-underline">
            {{ page.categories | first }}
          </a>
        {% endif %}
      </p>
    </header>
    {% if page.image %}
      <img src="{{ page.image | image_src }}?w=1200&fit=crop" class="img-fluid mb-4" />
    {% endif %}
    <div class="post-text">
      {{ content }}
    </div>
    {% include share-post.html %}
    <footer class="post-footer">
      <div class="row author">
        {% assign author = site.authors | where:"title",page.author | first %}
        {% if author.bio_image %}
          <div class="col-sm-4 col-lg-3">
            <a href="/author/{{ page.author | slugify }}" class="no-underline">
              <img class="img-fluid mb-4" src="{{ author.bio_image | image_src }}" alt="{{ author.title }}: {{ author.job_title }}" data-rjs="2">
            </a>
          </div>
          <div class="col-sm-8 col-lg-9">
        {% else %}
          <div class="col-12">
        {% endif %}
          <h4 class="name">
            {{ author.title }}
            {% if author.website %}
              <a href="{{ author.website }}" target="_blank" class="no-underline">
                <small class="text-muted">
                  <i class="fa fa-external-link" aria-hidden="true"></i>
                </small>
              </a>
            {% endif %}
          </h4>
          {% if author.job_title %}
            <h6 class="title">{{ author.job_title }}
            {% if author.company_name %}
              at {{ author.company_name }}
            {% endif %}
          </h6>
          {% endif %}
          {% if author.content %}
            {{ author.content | markdownify }}
          {% endif %}
        </div>
      </div>
    </footer>
  </section>
  <section class="row justify-content-between">
    <div class="col-5 col-sm-6 col-md-5">
      {% if page.previous.url %}
        <p class="mb-1 text-gray hidden-xs-down"><strong>PREVIOUS</strong></p>
        <h3 class="text-left">
          <a href="{{ page.previous.url }}">
            <i class="fa fa-lg fa-chevron-left hidden-sm-up"></i>
          </a>
        </h3>
        <h6 class="playfair hidden-xs-down">
          <em><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></em>
        </h6>
      {% endif %}
    </div>
    <div class="col-5 col-sm-6 col-md-5 text-right">
      {% if page.next.url %}
        <p class="mb-1 text-gray hidden-xs-down"><strong>NEXT</strong></p>
        <h6 class="playfair hidden-xs-down">
          <em><a href="{{ page.next.url }}">{{ page.next.title }}</a></em>
        </h6>
        <h3 class="text-right">
          <a href="{{ page.next.url }}">
            <i class="fa fa-lg fa-chevron-right hidden-sm-up"></i>
          </a>
        </h3>
      {% endif %}
    </div>
  </section>
</div>
