---
layout: site
title: Membership
nav:
  id: membership
  site:
    highlight: membership
banners:
- link: "/membership"
  image: "/assets/images/Membership-Header.jpg"
sm-banners:
- link: "/membership"
  image: "/assets/images/banner-membership-sm.jpg"
details:
- title: crave direction and purpose?
  text: "You’re struggling to find the larger purpose in what you do. You move from client to client or project to project with no direction or clarity on how to make the impact you desire."
- title: know you're capable of more?
  text: "You know you have potential that’s waiting to be unleashed. You know that you’re capable of making big waves of good in the world, but you don’t know where or how to start."
- title: search to find your "people"?
  text: "You move from network to network but never feel like you’ve found your place. You crave a genuine group of women who care about building more than just a career."
---

<!-- BANNER -->
<div class="mb-2 mb-lg-5">
  <div class="fotorama page-banner hidden-sm-down pt-3" data-width="100%" data-max-width="100%" data-loop="true" data-autoplay="6000" data-swipe="true">
    {% for banner in page.banners %}
      <div data-img="{{ banner.image }}" class="link" data-rjs="2">
        <a href="{{ banner.link }}" class="_no-underline"></a>
      </div>
    {% endfor %}
  </div>
  <div class="fotorama hidden-md-up pt-3" data-width="100%" data-max-width="100%" data-loop="true" data-autoplay="6000" data-swipe="true">
    {% for sm-banner in page.sm-banners %}
      <div data-img="{{ sm-banner.image }}" class="link" data-rjs="2">
        <a href="{{ sm-banner.link }}" class="_no-underline"></a>
      </div>
    {% endfor %}
  </div>
</div>

<!-- BENEFITS -->
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2 class="mb-5">Do You…</h2>
      <div class="row mb-3">
        {% for detail in page.details %}
        <div class="col-12 col-sm-4 px-4">
          {% if details.icon %}
            {% include icon.html name=detail.icon classes="icon-xxl" %}
          {% endif %}
          <h6 class="mt-2">{{ detail.title }}</h6>
          <p>
            {{ detail.text }}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row py-3">
    <div class="col">
      <h3 class="text-center"><em>You're in the right place</em></h3>
    </div>
  </div>
  <div class="btn-rule">
    <div class="row justify-content-center">
      <div class="col col-sm-6 col-md-6 col-lg-4">
        <form action="https://members.yellowco.co/">
            <button type="submit" class="btn btn-primary btn-lg btn-block"/>Join Now</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- IMPACT CALLOUT -->
<div class="bg-faded my-sm-3 my-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <img src="/assets/images/yellow-member-platform.jpg" class="img-fluid mb-sm-2" alt="inside Yellow Membership"/>
      </div>
      <div class="col-12 col-md-6 my-auto">
        <h3>Take 2018 by storm with our 2018 theme: Our Ownership</h3>
        <p>It's no secret millennials aren't owning items like cars, houses and music like previous generations. Although we are less inclined to own when it comes to material possessions, what if we were known as a generation who knows how to own WHO THEY ARE? Owning the stories, dreams, visions, passions and abilities we have. Owning the problems of the world instead of turning a blind eye. Owning the fact that we're in this together as global citizens.</p>
        <p><strong>This is our focus for 2018: OUR OWNERSHIP</strong><br />Each month throughout 2018 we will dive into a different focus of ownership, all helping you to take ownership of your life, who you were meant to be and your personal impact on the world.</p>
      </div>
    </div>
  </div>
</div>

<!-- SUBSCRIBE CHECKLIST -->
<div class="container py-3">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-7 col-md-5 col-lg-4">
      <a href="https://members.yellowco.co/" class="no-underline d-block">
        <div class="card card-price text-center">
          <div class="card-block">
            <h6 class="card-title text-uppercase">Join today</h6>
            <p class="card-text">
              <span class="price">33</span>/mo
            </p>
          </div>
        </div>
      </a>
      <p class="text-center">Questions? <a href="https://fldwrk.help/yellow-co">Read our FAQs</a></p>
    </div>
    <div class="col-12 col-md-7 col-lg-6 offset-lg-1">
      <ul class="list-checkmark">
        <li>Free shipping in the US</li>
        <li>Cancel anytime, hassle free</li>
        <li>Exclusive ticket prices for annual conference and workshops</li>
        <li>Discounts to partnering do-good resources and products</li>
      </ul>
      <a href="https://fldwrk.help/yellow-co" class="btn btn-sm btn-primary">Read our FAQs</a>
    </div>
  </div>
</div>

<!-- CURRENT THEME SECTION -->
<!-- {% include current-theme.html %} -->

<div class="row mt-md-5">
  <div class="col-12">
    <img src="/assets/images/membership-impact.jpg" class="img-fluid w-100" data-rjs="2" />
    <div class="container">
      <div class="row intro-overlay justify-content-center">
        <div class="intro-content col-11 col-sm-11 col-lg-8 text-center py-4 px-3">
          <h6>Your membership is making an impact</h6>
          <p>Your membership helps employ at-risk youth, empower women globally, and supports other initiatives taking place across the world.</p>
          <a href="#" class="btn btn-primary">View Our Impact</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FAQ -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-9">
      <h2 class="text-center mb-2">Membership FAQ</h2>
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <p class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle">
                Who is Yellow Co.?
              </a>
            </p>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              We are a community of women passionate about living creatively and bravely as Agents of Good!
              <br /><br />
              Our members stay connected with each other, growing and doing good, via our monthly membership subscription including digital resources, monthly chapter gatherings and our private Facebook group and Slack channel. We rally together once a year in Los Angeles for the Yellow Conference!
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <p class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What is Yellow membership?
              </a>
            </p>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
              Yellow membership is a $33.00, monthly subscription connecting creative, entrepreneurial women that want to use their gifts, skills and talents to advance the common good. Our monthly subscription includes digital resources, monthly chapter gatherings and our private Facebook group and Slack channel. Attending the annual Yellow Conference is an additional fee.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <p class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                How do I become a Yellow member?
              </a>
            </p>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
              Head over to <a href="https://members.yellowco.co/signup">members.yellowco.co/signup</a> to create an account, enter your payment information and that's it! You'll instantly have access to our digital resources and online community. We'd love to have you as a member!
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingFour">
            <p class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                What do I get as a Yellow member?
              </a>
            </p>
          </div>
          <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="card-block">
              You’ll have access to online resources and amazing community both online and in person (for those who are located near an in person chapter). Plus a monthly packet of Yellow goodness delivered to your doorstep.

              Together as creative, entrepreneurial women, we will be using the power of the collective to change the world. Your membership helps Yellow employ youths who are transitioning out of foster care, it helps fund sex-trafficking rescue operations, and it allows Yellow to support other life-changing initiatives taking place across the world!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-2 pt-md-4">
  <div class="row">
    <div class="col-12">
      {% include instagram.html %}
    </div>
  </div>
</div>
